<footer>
    <div class="container text-center" data-aos="fade-top">
        <div class="row row1">
            <div class="col-lg-4 col-md-12 col-sm head">
                <h1><span>Ride</span> Anywhere <span>With Rido</span></h1>
                <h6>India's Secure Safety Ride</h6>
                <div class="headImg">
                    <img [src]="img1" alt="">
                    <img [src]="img2" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm links">
                <div class="linkHead">Quick Link</div>
                <div class="link"><a routerLink="/rido-business">Rido Business</a></div>
                <div class="link"><a routerLink="/terms-and-conditions">Terms & Conditions</a></div>
                <div class="link"><a routerLink="/faq">FAQ</a></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm contact">
                <h6 class="linkHead">Contact Us</h6>
                <div class="contP">
                    <a href="mailto:hello@rido.com">hello@rido.com</a>
                    <p>+91 70000-12345</p>
                    <br>
                    <p>write us at</p>
                    <p>media@rido.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lowFooter container pb-5">
        <div class="row">
            <div class="col-sm text-center my-3 cpy">
                <p>© 2023 Rido-All Rights Reserved</p>
            </div>
            <div class="col-sm text-center my-3">Let's connect on</div>
            <div class="col-sm my-3 text-center"><img [src]="img3" alt=""></div>
        </div>
    </div>
    <div class="eclImg">
        <img [src]="img4" class="ecli" alt="">
    </div>
</footer>