<!-- part-1 -->

<div>
  <div class=" conatainer con1 row row-cols-12 row-cols-sm-12 row-cols-md-12 text-center">
    <div class="ride col-md-6">
      <h2>
        One App <br />
        All the Rides
        <h3>Download Our App</h3>
      </h2>
    </div>
    <div class="col-md-6">
      <img class="img1" [src]="imagepath" />
    </div>
  </div>
</div>

<!-- part-2 -->

<div class="container2">
  <div class="con2 row row-cols-12 row-cols-sm-12 row-cols-md-12">
    <div class="col-md-6 text-center">
      <img class="img3" [src]="imagepath1" />
    </div>

    <div class="ride2 col-md-6">
      <h1>
        India’s Beloved <br />
        <strong>Bike Taxi Service</strong>
      </h1>
      <p>We are not an option, we are a choice</p>
      <p>
        We're #1 choice of 10 Million people because we're the solution of
        India's intra-city commuting problems. With assured safety, we also
        provide economically priced rides.
      </p>
    </div>
  </div>
</div>

<!-- part-3 -->

<div class="container3">
  <div class="con3 row row-cols-12 row-cols-sm-12 row-cols-md-12 py-4">
    <div class="ride3 col-md-6">
      <h2 class="heading">
        <span> Safety </span> for all means looking out for our riders
      </h2>

      <p class="safty">
        We’ll always treat you with respect and look out for your safety. We do
        this by maintaining high standards, which start before your very first
        ride. Our proactive safety features are always on. And anytime, night or
        day, we offer real help from real humans.
      </p>
    </div>

    <div class="col-md-6 text-center">
      <!-- <div class="rectangle"></div> -->
      <div class="img5 text-center">
        <img [src]="imagepath3" class="img51" />
      </div>
    </div>
  </div>
</div>

<!-- part-4 -->

<div class="container4">
  <div class="con4 text-center">
    <div class="testimonial-header">Testimonials</div>
    <div class="row row-cols-12 row-cols-sm-12 row-cols-md-3  testCards">
      <div class="col">
        <div class="card">

        </div>
      </div>
      <div class="col">
        <div class="card">

        </div>
      </div>
      <div class="col">
        <div class="card">

        </div>
      </div>
    </div>

  </div>
</div>

<!-- part-5 -->

<div class="container5">
  <div class="con5 row row-cols-12 row-cols-sm-12 row-cols-md-12">
    <!-- row row-cols-12 row-cols-sm-12 row-cols-md-12-->

    <!-- Review form -->

    <div class="review-form my-5">
      <h2 class="review-h2">Your Review</h2>
      <form>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter Your Name" required />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter Your Email" required />
        </div>

        <div class="form-group">
          <label for="mobile">Mobile No:</label>
          <input type="tel" id="mobile" name="mobile" placeholder="Enter Your Mobile No" required />
        </div>

        <div class="form-group">
          <label for="review">Review:</label>
          <textarea id="review" name="review" rows="4" placeholder="Write Your Review to us" required></textarea>
          <button type="submit">Submit</button>
        </div>

        <!-- <button type="submit">Submit</button> -->
      </form>
    </div>

    <div class="side-text col-md-6 text-center mb-5 ">
      <!-- col-md-6-->
      <div class="review-text">We respect your review</div>
      <div class="experience-text">Share Your Experience</div>
    </div>
  </div>
</div>