@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
}

/* part-1 */
.con1 {
    background-color: #63ABF9;
}

.ride h2 {
    color: #FFFFFF;
    font-size: 3.5rem;
    padding: 13% 0 0;
}


.ride h3 {
    padding: 3.5% 10%;
    border-radius: 50px 50px 50px 0;
    font-size: 1.5rem;
    color: #000000;
    background-color: whitesmoke;
    margin: 4% 15%;
}

.img1 {
    margin: 0 0 10%;
}

/* part-2 */

.con2 {
    /* display: flex; */
    /* padding: 10px 20px; */
    background-color: #8817EE;
}

.img3 {
    margin: 10% 10%;
}

.ride2 {
    flex: 1;
    margin: 5% 3%;
}

.ride2 h1 {
    color: #FFFFFF;
    text-align: center;
    margin: 10% 2%;
    font-size: 3em;
}


.ride2 p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 1% 6%;
}

/* part-3 */

.con3 {
    background-color: #63ABF9;
}

.img51 {
    height: auto;
    max-width: 100%;
    box-shadow: 11px 22px 0px 9px #D9D9D9;
    margin: 10% 0 25%;
}


.heading {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 11%;
    margin: 6% 0;
}

span {
    color: #000000;
}

.safty {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1% 10%;
    margin: 1% 2%;
}

/* testimonial section part-4 */

.container4 {
    background-color: hsl(272, 86%, 51%);
}

.testimonial-header {
    padding: 5% 0 0;
    color: white;
    font-size: 3rem;
}

.testCards {
    padding: 5% 13% 8%;
}

.card {
    width: 15rem;
    height: 300px;
}

.col {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* part-5 */


.con5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63ABF9;
}


/* form css */

.review-form {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    box-sizing: border-box;
}

.review-h2 {
    text-align: center;
    color: #1e98e9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    background-color: #1e98e9;
    color: #000000;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    float: right;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.review-text {
    color: #fff;
    margin: 1rem 7rem;
    font-size: 3rem;
    text-align: center;
}

.experience-text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.el1 {
    height: 80px;
    width: 50px;
    float: right;
    margin-top: -50px;
}

.el2 {
    height: 80px;
    width: 50px;
    margin-bottom: -40px;
}

/* @media Query */

@media screen and (max-width:991px) {
    .ride h2 {
        font-size: 2.5rem;
    }

    .ride2 {
        margin: 5% 3%;
    }

    .ride h3 {
        font-size: 1rem;
    }

    .ride2 h1 {
        font-size: 2rem;
        margin: 0% 2% 8%;
    }


    .ride2 p {
        font-size: 1.2rem;
    }

    .heading {
        font-size: 2rem;
    }

    .safty {
        font-size: 1.2rem;
    }

    .review-text {
        font-size: 2rem;
    }

    .experience-text {
        font-size: 2rem;
    }

    .img51 {
        height: 300px;
        width: 300px;
        margin: 10% 0 18%;
    }

    .review-text {
        margin: 1rem 2rem;
    }

    .experience-text {
        margin: 0 2em;
        font-size: 1.5rem;
    }

    .review-form {
        width: 350px;
    }

    .safty {
        padding: 1% 5%;
    }

    .ride2 p {
        padding: 1% 0;
    }

    button {
        margin: auto 0;
        max-width: 100px;
    }

    .card {
        width: 12rem;
        height: 300px;
        margin: 2% 18%;
    }

    .testimonial-header {
        padding: 5% 0 0;
        font-size: 3rem;
    }

}