<div class="container1">
    <div class="con1">
        <div class="ride">
            <h2>One App <br> All the Rides</h2>
            <h3>Download Our App</h3>
        </div>
        <img class="img1" [src]="imagepath">
        <!-- <img class="img2" [src]="imagepath1"> -->
    </div>
</div>

<div class="container2">
    <div class="con2">
        <img class="img3" [src]="imagepath2">
        <div class="ride2">
            <h1>India’s Beloved <br> <strong>Bike Taxi Service</strong> </h1>
            <p>
                We are not an option, we are a <br> choice <br> We're #1 choice 
               of 10 Million people because we're the solution of India's intra-city 
               commuting problems. With assured safety, we also provide economically priced rides.
            </p>
        </div>
        <!-- <img class="img4" [src]="imagepath3"> -->
    </div>
</div>

<div class="container3">
    <div class="con3">
        <div class="ride3">
          <h2 class="heading"> <span> Safety </span> for all <br> means looking out <br> for our riders</h2>
          <p class="safty">
              We’ll always treat you with respect and <br> look out for your safety.
              We do this by <br> maintaining high standards, which <br> start before your very first ride.
              Our <br> proactive safety features are always on. <br> And anytime, night or day, we offer real <br> help from real humans.
          </p>
        </div>
          <img class="img5" [src]="imagepath5">
    </div>
</div>

