<div class="tc">
    <div class="container">
        <div class="header text-center py-4">
            <h1>Terms & Conditions</h1>
            <h5>(Last updated on 07/11/2023)</h5>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt tellus vitae laoreet congue.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam a turpis id mauris vestibulum
                faucibus
                vitae et diam. Pellentesque quis viverra magna. Suspendisse dapibus purus et ultricies dapibus. Nam quis
                aliquet metus. Sed tristique consequat nulla, egestas elementum mauris facilisis ut. Ut pellentesque
                ante
                nulla, in aliquam leo sodales in. In pellentesque nibh bibendum ligula tempor porta. Aenean viverra
                nulla
                nec varius efficitur. Curabitur elementum, odio a ornare eleifend, nisl ante fringilla eros, sit amet
                elementum odio turpis quis mi. Vestibulum id dolor sit amet lorem vehicula sollicitudin. Pellentesque
                mollis
                arcu rhoncus, interdum quam eu, tempus nisl. Donec pellentesque neque a congue scelerisque. Ut a
                fermentum
                ligula. Fusce consectetur tristique velit eget suscipit. Nunc gravida, lorem vel luctus tincidunt, neque
                lectus commodo risus, sed varius justo nibh nec orci. Praesent sit amet nisl eget enim facilisis tempor
                vehicula ac massa. Aenean est nibh, finibus ac vulputate sit amet, mollis id magna. Nulla ultricies
                rhoncus
                nulla nec blandit. Cras molestie arcu nec nulla mollis gravida. Nunc volutpat tellus erat, ullamcorper
                luctus felis dignissim in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia
                curae; Nullam in quam congue, suscipit purus sit amet, condimentum nisl. Aenean leo nulla, faucibus non
                fringilla nec, molestie sed orci. Phasellus semper ex vel tempor facilisis. Sed consectetur mauris eu
                rutrum
                tincidunt. Morbi sed quam ultricies, consequat ex ac, lacinia massa. Aenean et erat eu lorem viverra
                lobortis. Aliquam placerat elit cursus dui venenatis, ac mattis sapien gravida. Sed maximus turpis diam,
                a
                varius erat interdum quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur eget
                nunc
                in nulla volutpat semper. Phasellus consectetur aliquet urna, sit amet finibus neque malesuada sed.
                Suspendisse eleifend consequat quam, aliquet suscipit lectus. Morbi vestibulum, nulla nec porttitor
                luctus,
                turpis sem tincidunt ligula, a tempor nisl dui pretium risus. Aenean vel volutpat dui. Nullam gravida
                nulla
                in elit consectetur, a iaculis nulla faucibus. Vivamus gravida luctus turpis a cursus.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>