<!-- Driver Section  -->
<div class="driver">
  <div class="container">
    <div class="row row-cols-2 text-center">

      <div class="col driverTxt">
        <p>Be a part of the most exclusive <span>driver</span> <br> <span>partner</span> network!</p>
        <button class="btn driverBtn">Download Our App</button>
      </div>

      <div class="col">
        <img [src]="driverImg" class="driverImg">
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <img [src]="EllipseImg" class="EllipseImg">
</div> -->

<!-- Document Section  -->
<div class="modernLife">
  <div class="container">
    <div class="row row-cols-2 ">

      <div class="col ">
        <img [src]="modernLifeImg" class="modernLifeImg">
      </div>

      <div class="col">
        
        <div class="driverTxt">
          <p>Documents required to be a <span>driving</span> <br> <span>partner</span> with Rido</p>
        </div>

        <div class="docLine">
          <p> <span class="arrow">></span> Valid Driving Licence</p>
          <p> <span class="arrow">></span> PAN Card</p>
          <p> <span class="arrow">></span> Aadhar Card</p>
          <p> <span class="arrow">></span> Current & Permanent Address Proofs</p>
          <p> <span class="arrow">></span> Bank Details (Passbook OR Cancelled Cheque)</p>
          <p> <span class="arrow">></span> One Reference (With Addresses & Phone Numbers)</p>
        </div>


      </div>

    </div>
  </div>
</div>