<app-navbar></app-navbar>

<!-- Driver Section  -->
<div class="driver">
  <div class="container">
    <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12  text-center">

      <div class="col-md-6 driverTxt">
        <p>Be a part of the most exclusive <span>driver</span> <br> <span>partner</span> network!</p>
        <button class="btn driverBtn">Download Our App</button>
      </div>

      <div class="col-md-6">
        <img [src]="driverImg" class="driverImg">
      </div>

    </div>
  </div>

  <div class="circle1">
  </div>

</div>

<!-- Document Section  -->
<div class="modernLife">
  <div class="container">
    <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12  ">

      <div class="col-md-6 ">
        <img [src]="modernLifeImg" class="modernLifeImg">
      </div>

      <div class="col-md-6">

        <div class="driverTxt">
          <p>Documents required to be a <span>driving</span> <br> <span>partner</span> with Rido</p>
        </div>

        <div class="docLine">
          <p> <span class="arrow">></span> Valid Driving Licence</p>
          <p> <span class="arrow">></span> PAN Card</p>
          <p> <span class="arrow">></span> Aadhar Card</p>
          <p> <span class="arrow">></span> Current & Permanent Address Proofs</p>
          <p> <span class="arrow">></span> Bank Details (Passbook OR Cancelled Cheque)</p>
          <p> <span class="arrow">></span> One Reference (With Addresses & Phone Numbers)</p>
        </div>

      </div>

    </div>
  </div>
  <div class="circle2">
  </div>
</div>

<!-- Feature Section  -->
<div class="feature">
  <h1 class="text-center">Get a car on lease</h1>

  <div class="container text-center">
    <!-- First Row  -->
    <div class="row ">
      
      <div class="col icons ">
        <img [src]="carIcon1" alt="" class="carIcon">
        <p>A chance to drive a premium electric car</p>
      </div>
      <div class="col icons">
        <img [src]="carIcon2" alt="" class="carIcon1">
        <p>Zero ownership cost</p>
      </div>
      <div class="col icons">
        <img [src]="image3" alt="" class="carIcon1">
        <p>Flexible working hours</p>
      </div>
    </div>

    <!-- Second Row  -->
    <div class="row ">
      <div class="col icons">
        <img [src]="image4" alt="" class="carIcon1">
        <p>Weekly earnings</p>
      </div>
      <div class="col icons">
        <img [src]="image5" alt="" class="carIcon1">
        <p>Free accidental insurance upto 2 lakhs</p>
      </div>
      <div class="col icons">
        <img [src]="image6" alt="" class="carIcon1">
        <p>24/7 helpline for your support</p>
      </div>
    </div>

    <!-- Third Row  -->
    <div class="row ">
      <div class="col icons">
        <img [src]="image7" alt="" class="carIcon1">
        <p>Safe, hygienic work environment</p>
      </div>
      <div class="col icons">
        <img [src]="image8" alt="" class="carIcon1" >
        <p>Quality based incentives</p>
      </div>
      <div class="col icons">
        <img [src]="image9" alt="" class="carIcon1">
        <p>Minimum business guarantee</p>
      </div>
    </div>
  </div>
</div>


<!-- Covid Section  -->
<div class="covidSection">
  <h1 class="text-center">COVID-19 Precaution for Driver</h1>

  <div class="container text-center">
    <!-- First Row  -->
    <div class="row firstRow">

      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="syringe" alt="" class="covidImage">
        </div>
        <figcaption>Get vaccinated and boosted</figcaption>
      </div>

      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="mask" alt="" class="covidImage">
        </div>
        <figcaption>Wear a mask</figcaption>
      </div>

      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="windscreen" alt="" class="covidImage">
        </div>
        <figcaption>Ventilate your vehicle</figcaption>
      </div>

    </div>

    <!-- Second Row  -->
    <div class="row secondRow">
      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="facemask" alt="" class="covidImage">
        </div>
        <figcaption>Encourage passengers to wear masks</figcaption>
      </div>

      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="keepdistance" alt="" class="covidImage">
        </div>
        <figcaption>Avoid close contact with passengers</figcaption>
      </div>

      <div class="col covidRow ">
        <div class="syring ">
          <img [src]="handsanitizer" alt="" class="covidImage">
        </div>
        <figcaption>Offer hand sanitizer to passengers</figcaption>
      </div>

    </div>
  </div>
</div>

<div class="border"></div>