@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

* {
  font-family: Comfortaa;
  scroll-behavior: smooth;
}
body {
  font-weight: 700;
}

/* Driver section */
.driver {
  background-color: #63abf9;
  padding: 6% 0;
}

.driverTxt{
  animation: textAnimation 0.75s;
}

@keyframes textAnimation {
  from {
    transform: translateY(-100px) ;
  }
  to {
    transform: translateY(0);
  }
}


.driverTxt p {
  position: relative;
  color: white;
  font-size: 3rem;
  margin: 8% 0;
  line-height: normal;
  text-align: center;
  font-weight: 700;
}

.driverTxt span {
  color: black;
  font-weight: 700;
}

.driverTxt1 p {
  position: relative;
  color: white;
  font-size: 3rem;
  margin: 8% 0;
  line-height: normal;
  text-align: center;
  font-weight: 700;
}

.driverTxt1 span {
  color: black;
  font-weight: 700;
}

.driverBtn {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: white;
  font-weight: 700;
  padding: 3% 12%;
  margin: 0 auto;
  border-radius: 50px 50px 50px 0px;

  animation: moveAnimation 0.75s;
}

@keyframes moveAnimation {
  from {
    transform: translateX(-40px) ;
  }
  to {
    transform: translateX(0);
  }
}

.driverImg {
  animation: driverAnimation 0.75s;
}

@keyframes driverAnimation {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.ellipse1 {
  width: 50px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 12rem 0 0 12rem;
  float: right;
  margin: 2.2% 0;
}

.ellipse12 {
  position: relative;
}

.ellipse2 {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 0 12rem 12rem 0;
  margin: 2.5% 0;
}

.ellipse13 {
  position: relative;
}

.ellipse3 {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 0 12rem 12rem 0;
  margin: 1% 0;
}

.border {
  background: #D9D9D9;
  height: 40px;
}

/* Document Section */
.modernLife {
  background-color: #8817ee;
  padding: 6% 0;
}

.arrow {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}

.docLine p {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8%;
}

.icons {
  background-color: #d9d9d9;
  margin: 3% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.icons p {
  text-align: center;
  font-weight: 700;
}

.carIcon1 {
  height: 110px;
  width: 110px;
}

.feature {
  background-color: #63abf9;
  padding: 6% 0;
}

.feature h1 {
  color: white;
  font-weight: 700;
  line-height: normal;
  font-size: 3rem;
}

/* Covid Section  */
.covidSection {
  background-color: #8817ee;
  padding-bottom: 3rem;
}

.covidSection h1 {
  padding: 6% 0 0;
  color: white;
  line-height: normal;
  font-size: 3rem;
  width: 35%;
  margin: 0 auto;
  font-weight: 700;
}

.covidRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.syring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #d9d9d9;
  border-radius: 100%;
}

.covidImage {
  height: 85px;
  width: 85px;
}

.firstRow {
  margin: 5% 0;
}

.covidRow figcaption {
  margin-top: 3%;
  color: white;
  font-weight: 700;
  width: 12.5rem;
}



@media screen and (max-width: 991px) {
  .driverTxt p {
    font-size: 2rem;
  }

  .driverImg {
    margin: 8% 0;
    width: 100%;
  }

  .driverBtn {
    font-size: 1.2rem;
  }

  .arrow {
    font-size: 1rem;
  }

  .docLine p {
    font-size: 1rem;
  }

  .feature h1 {
    font-size: 2rem;
  }

  .covidSection h1 {
    width: 45%;
    font-size: 2rem;
  }

  .modernLifeImg {
    margin-top: 30%;
  }

  .ellipse1 {
    fill: #d9d9d9;
    width: 50px;
    height: 100px;
    margin: 0% 0;
  }

  .ellipse12 {
    position: relative;
  }

  .ellipse2 {
    fill: #d9d9d9;
    position: absolute;
    width: 50px;
    height: 100px;
    margin: 1% 0;
  }

  .ellipse13 {
    position: relative;
  }

  .ellipse3 {
    fill: #d9d9d9;
    position: absolute;
    width: 50px;
    height: 100px;
    margin: 0% 0;
  }
}

@media screen and (max-width: 767px) {
  .ellipse1 {
    width: 50px;
    height: 100px;
    margin: 0% 0;
  }

  .ellipse12 {
    position: relative;
  }

  .ellipse2 {
    position: absolute;
    width: 50px;
    height: 100px;
    margin: 1% 0;
  }

  .ellipse13 {
    position: relative;
  }

  .ellipse3 {
    position: absolute;
    width: 50px;
    height: 100px;
    margin: 0% 0;
  }
}

@media screen and (max-width: 550px) {
  .driverTxt p {
    padding: 0 2%;
  }

  .modernLife {
    margin: 0 auto;
  }

  .modernLifeImg {
    margin-top: 2%;
  }

  .ellipse1 {
    width: 25px;
    height: 50px;
    margin: 0% 0;
  }

  .ellipse12 {
    position: relative;
  }

  .ellipse2 {
    position: absolute;
    width: 25px;
    height: 50px;
    margin: 1% 0;
  }

  .ellipse13 {
    position: relative;
  }

  .ellipse3 {
    position: absolute;
    width: 25px;
    height: 50px;
    margin: 8% 0;
  }

  .covidSection h1 {
    width: 49%;
  }

  .covidRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .first {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

