<app-landing-page></app-landing-page>  
<div class="landingFtS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="ftsText">Coming back home with presents for the family? Or packed too much for your holiday
                    and don't know where to fit it? Relax, our airport riders love the 2-3X boot space, at no extra
                    cost.</p>
                <div class="row my-5">
                    <div class="col Box text-center">
                        <img [src]="AirportIcon1" alt="">
                        <p class="icnPara">2x BootSpace</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="AirportIcon2" alt="">
                        <p class="icnPara">On time Pickup and drops</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="AirportIcon3" alt="">
                        <p class="icnPara">Shortened Airport Pickup Wait Time</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ftsImg text-center">
                <img [src]="AirportImg1" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>