
<div class="bckground">
  <div class="container text-center">
    <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12 text-center">
      <div class="col-md-6 text">
        <p>
          One App <br />
          All the Rides
        </p>
        <button class="btn button">Download Our App</button>
      </div>
      <div class="col-md-6">
        <img [src]="imagepath" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="bckgroundd">
<div class="container text-center">
  <div class="row row-cols-2">
    <div class="col">
      <img [src]="imagepathh" alt="">
    </div>
    <div class="coll"><span class="clr">On-demand </span> rides for in‑demand people<br><br><br>
      <p>Happy hour on the patio only <br>lasts for an hour. And your family <br> would love to see your face again,<br> ASAP. We’ll match you with a driver <br> in seconds</p>
    </div>    
  </div>
</div>
</div>


<div class="bckgrounddd">
<div class="container text-center">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      <img [src]="imagepathhh" alt="">
    </div>
  </div>
</div>
</div>
