@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

.bckground {
  background-color: #63abf9;
  height: 550px;
}
.text {  
  color: #fff;
  font-size: 3.5rem;
  margin-top:9%;
  font-family: "Comfortaa";
  font-weight: 700;
line-height: normal;
}
 button {
  color: #000;
  font-family: Comfortaa;
  font-size: 1.8rem;
  text-align: center;
 background-color: white;
  padding: 3% 12%;
  border-radius: 50px 50px 50px 0px;
  margin-top: 10%;
}
img {
  margin-top: -20%;
}
.bckgroundd {
  background-color: #8817EE;
  height: 720px;
}
.col img
{
  margin-top: 19%;
  width: 570px;
  height: 560px;
}
.coll
{
  color: white;
text-align: center;
font-family: Comfortaa;
font-size: 3.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 11%;
}
.coll p{
  color: #FFF;
font-family: Comfortaa;
font-size: 1.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 64px;
text-align: left;
}
.clr
{
  color: #000;
}