@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

* {
  font-family: "Comfortaa";
  font-weight: 700;
  line-height: normal;
}

.bck1 {
  background-color: #63abf9;
}
.text {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 9%;
 
}
button {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  padding: 3% 12%;
  border-radius: 50px 50px 50px 0px;
  margin-top: 10%;
}
img {
  margin-top: -20%;
}
.bck2 {
  background-color: #8817ee;
}
.col-md-6 .imgpath2 {
  margin-top: 5%;
  width: 500px;
  height: 500px;
  
}
.coll h1{
  color: white;
  margin: 15% 0% 0%;
  font-size: 3rem;
}

.coll p {
  color: #fff;
  font-size: 1.7rem;
  padding: 4% 20%;
  /* margin-left: 64px;
  text-align: left; */
}
.clr {
  color: #000;
}

.bck3 {
  background-color: #63abf9;
}

.textt {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-top: 7%;
  margin-bottom: 15%;
}

.texttt {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3.7%;
  padding-bottom: 5%;
}

.col .text3 {
  color: #000;
  font-size: 2rem;
}

.col .text4 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
   line-height: 1.5rem;
  margin-bottom: 2%;
  margin-top: -1.5%;
}

.col img {
  padding: 2.5%;
}

@media screen and (max-width: 992px) {
  .text {
    font-size: 2rem;
  }

  button {
    font-size: 1.2rem;
  }

  .coll h1{
    font-size: 2rem;
  }

  .coll p {
    font-size: 1.3rem;
    padding: 4% 10%;
  }

  .textt {
    font-size: 2rem;
  }
  
  .texttt {
    font-size: 1.2rem;
  }

  
.col .text3 {
  font-size: 1.5rem;
}

.col .text4 {
  font-size: 1.2rem;
}
.col-md-6 .imgpath2 {
  /* margin-top: 5%; */
  width: 300px;
  height: 300px;
}
}
