<app-landing-page></app-landing-page>
<div class="landingFtS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="ftsText">Need to get a meeting and getting late is not on option? Rely on BluSmart to get you from
                    point-to-point on time.</p>
                <p class="ftsText">With Rido, you get to travel faster without any deviations.</p>
                <div class="row">
                    <div class="col Box text-center">
                        <img [src]="RideIcon1" alt="">
                        <p class="icnPara">No Surge Pricing</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="RideIcon2" alt="">
                        <p class="icnPara">Responsible Drivers Partners</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="RideIcon3" alt="">
                        <p class="icnPara">Flat Pricing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ftsImg text-center">
                <img [src]="RideImg1" alt="">
            </div>
        </div>
    </div>
</div>