@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    font-family: Comfortaa;
}

.landingFS, .landingTS {
    background-color: #63ABF9;
    color: white;
}

.fsImg {
    margin: 4% 0 13%;
}

.fsText {
    font-size: 3.5rem;
    line-height: normal;
    margin: 10% 0;
}

.fsText span {
    color: black;
}

.btn {
    background-color: white;
    font-size: 1.5rem;
    padding: 3% 12%;
    border-radius: 50px 50px 50px 0px;
}

.landingSS {
    background-color: #8817EE;
}

.ssImg {
    /* width: 550px; */
    margin: 7% 0 13%;
}

.ssText {
    color: white;
    margin: 12% 0;
}

.ssText h3 {
    font-size: 3rem;
}

.ssTextSL {
    margin: 5% 15%;
    font-size: 1.3rem;
    line-height: normal;
}

.ssTextTL {
    margin: 7% 20%;
    font-size: 1.1rem;
    line-height: normal;
}

.ssTextFoL {
    margin: 5% 20%;
    font-size: 1.3rem;
    line-height: normal;
}

.ic {
    font-size: 2rem;
}

.tsImg {
    /* width: 550px; */
    margin: 5% 0;
}

.tsText h3{
    font-size: 3rem;
}

.tsHText span {
    color: black;
}

.tsText {
    margin: 10% 0;
}

.tsTextPara {
    font-size: 1.3rem;
    margin: 2% 20%;
}

.tsTextPara div {
    padding: 2% 0;
}