<app-navbar></app-navbar>
<div class="landingFS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12 text-center">
            <div class="col-md-6 fsText">
                <p>Ride <span>Anywhere</span></p>
                <p>With Rido</p>
                <button class="btn">Download Our App</button>
            </div>
            <div class="col-md-6 fsImg">
                <img [src]="imgPath1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="landingSS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12 text-center">
            <div class="col-md-6 ssImg">
                <img [src]="imgPath2" alt="">
            </div>
            <div class="col-md-6 ssText">
                <h3>What's all the <br> buzz about?</h3>
                <p>Reliability is our top priority. We'll never cancel on you at the last minute.</p>
                <p>> Before or on-time arrival at pickup for 97% of the trips <</p>
                <p>> Read More . . . <</p>
            </div>
        </div>
    </div>
</div>