@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    font-family: Comfortaa;
    color: white;
    font-style: normal;
    line-height: normal;
    font-weight: 700;

}

.landingFS, .landingTS, .landingFtS {
    background-color: #63ABF9;
}

.fsImg {
    margin: 4% 0;
}

.fsText {
    font-size: 3.5rem;
    margin: 10% 0 0;
    transition-property: opacity, left;
    transition-duration: 2s, 4s;
}

.fsText span {
    color: black;
}

.btn {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 3% 12%;
    border-radius: 50px 50px 50px 0px;
}

.landingSS, .landingFoS {
    background-color: #8817EE;
}

.ssImg {
    margin: 10% 0;
}

.ssText {
    margin: 12% 0;
}

.ssText h3 {
    font-size: 3rem;
}

.ssTextSL {
    margin: 5% 15%;
    font-size: 1.3rem;
}

.ssTextTL {
    margin: 7% 20%;
    font-size: 1.1rem;
}

.ssTextFoL {
    margin: 5% 20%;
    font-size: 1.3rem;
}

.ic {
    font-size: 2rem;
}

.tsImg {
    /* width: 550px; */
    margin: 5% 0;
}

.tsText h3 {
    font-size: 3rem;
}

.tsHText span {
    color: black;
}

.tsText {
    margin: 10% 0;
}

.tsTextPara {
    font-size: 1.3rem;
    margin: 2% 20%;
}

.tsTextPara div {
    padding: 2% 0;
}

.fosImg {
    margin: 10% 0 8%;
}

.fosText {
    margin: 15% 0;
}

.fosText h3 {
    font-size: 3rem;
}

.fosHText span {
    color: black;
}

.formSelect {
    margin: 0 18%;
    position: relative;
}

input {
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.60);
    border: 0px;
}

.rideBtn {
    border-radius: 20px;
    background: #D9D9D9;
    border: 0px;
    font-size: 1rem;
}

.lineImg {
    position: absolute;
    top: 24%;
    right: 92%;
}

.vector {
    position: absolute;
    top: 19%;
    left: 87%;
}

.eclipse {
    position: absolute;
    top: 19%;
    right: 90%;
}

.rectangle {
    position: absolute;
    top: 52%;
    right: 90%;
}

.lftsLink {
    padding: 5% 3% 3%;
}

.lftsLink a {
    font-size: 2.5rem;
    padding: 0.6% 2%;
    text-decoration: none;
}

.lineInFtS {
    background-color: white;
    height: 4px;
    margin: 1% 0;
}

a.act {
    color: black;
    border-bottom: 10px solid black;
}

.ecl1 {
    width: 50px;
    height: 100px;
    border-radius: 12rem 0 0 12rem;
    background-color: #D9D9D9;
    float: right;
    margin: -3% 0;
}

.elc21 {
    position: relative;
}

.ecl2 {
    width: 50px;
    height: 100px;
    border-radius: 0 12rem 12rem 0;
    background-color: #D9D9D9;
    margin: -3% 0;
}

@media screen and (max-width:1200px) {
    .ssTextTL {
        margin: 7% 3%;
    }

    .ssTextFoL {
        margin: 5% 3%;
    }
}

@media screen and (max-width:991px) {
    .fsText {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 1rem;
    }

    .ssText h3 {
        font-size: 2rem;
    }

    .ssTextSL {
        font-size: 1rem;
    }

    .ssTextTL {
        font-size: 0.9rem;
    }

    .ssTextFoL {
        font-size: 1rem;
    }

    .tsText h3 {
        font-size: 2rem;
    }

    .tsTextPara {
        font-size: 1rem;
        margin: 2% 10%;
    }

    .fosText h3 {
        font-size: 2rem;
    }

    .lftsLink a {
        font-size: 1rem;
    }

    .lftsLink {
        padding: 10% 3% 3%;
    }

    .tsImg {
        margin: 0 0 10%;
    }

    .fosImg img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:650px) {
    .ecl1 {
        margin: -8% 0;
    }

    .ecl2 {
        margin: -9% 0;
    }
}