<!-- First Section -->
<div class="landingFS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12 text-center">
            <div class="col-md-6 fsText">
                <p>Ride <span>Anywhere</span></p>
                <p>With Rido</p>
                <button class="btn">Download Our App</button>
            </div>
            <div class="col-md-6 fsImg">
                <img [src]="imgPath1" alt="">
            </div>
        </div>
    </div>
    <div class="ecl1"></div>
</div>

<!-- Second Section -->
<div class="landingSS">
    <div class="container text-center">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12"data-aos="fade-down">
            <div class="col-md-6 ssImg" >
                <img [src]="imgPath2" alt="">
            </div>
            <div class="col-md-6 ssText">
                <h3>What's all the</h3>
                <h3>buzz about?</h3>
                <p class="ssTextSL">Reliability is our top priority. We'll never cancel on you at the last minute.</p>
                <div class="row ssTextTL">
                    <div class="col-1 ic">
                        >
                    </div>
                    <div class="col-10">
                        Before or on-time arrival at pickup for 97% of the trips
                    </div>
                    <div class="col-1 ic">
                    </div>
                </div>
                <div class="row ssTextFoL">
                    <div class="col-1 ic">
                        >
                    </div>
                    <div class="col-10 pt-2">
                        Read More...
                    </div>
                    <div class="col-1 ic">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elc21">
        <div class="ecl2"></div>
    </div>
</div>
<!-- Third Section -->
<div class="landingTS">
    <div class="container" data-aos="fade-down">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12 text-center">
            <div class="col-md-6 tsText">
                <h3 class="tsHText"><span>The</span> Revolution <br> <span>is Here</span></h3>
                <div class="tsTextPara">
                    <div class="row">
                        <div class="col-2">
                            <span class="ic">></span>
                        </div>
                        <div class="col-10">
                            <span class="paraText">Reducing CO2 emissions, one ride at a time</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span class="ic">></span>
                        </div>
                        <div class="col-10">
                            <span class="paraText">Travelling clean kilometers and counting</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span class="ic">></span>
                        </div>
                        <div class="col-10">
                            <span class="paraText">Making a difference, Building a future</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span class="ic">></span>
                        </div>
                        <div class="col-10">
                            <span class="paraText">Where making India a cleaner, greener place</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tsImg">
                <img [src]="imgPath3" alt="">
            </div>
        </div>
    </div>
    <div class="ecl1"></div>
</div>
<!-- Fouth Section  -->
<div class="landingFoS">
    <div class="container text-center" data-aos="fade-down">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6 fosImg">
                <img [src]="imgPath4" alt="">
            </div>
            <div class="col-md-6 fosText">
                <h3 class="fosHText">Always The <span>Ride</span></h3>
                <h3>You Want</h3>
                <div class="formSelect">
                    <form>
                        <div class="form-group">
                            <img [src]="eclipse" class="eclipse">
                            <label class="form-label"></label>
                            <input type="text" class="form-control my-4 px-5 py-4 locIn" placeholder="Enter Location" />
                            <img [src]="vector" class="vector">
                        </div>
                        <img [src]="line" class="lineImg">
                        <div class="form-group d-flex">
                            <label class="form-label"></label>
                            <input type="text" class="form-control my-4 px-5 py-4 destIn"
                                placeholder="Enter Destination" />
                            <img [src]="rectangle" class="rectangle">
                        </div>
                        <div class="form-group d-flex">
                            <button type="submit" class="btn btn-dark my-4 py-3 px-4 rideBtn">See Rides</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="elc21">
        <div class="ecl2"></div>
    </div>
</div>
<!-- Fifth Section -->
<div class="landingFtS">
    <div class="container">
        <div class="lftsLink">
            <a routerLink="/home" routerLinkActive="act">Rides</a>
            <a routerLink="/home-hourly-rentals" routerLinkActive="act">Hourly Rentals</a>
            <a routerLink="/home-airport-service" routerLinkActive="act">Airport Service</a>
            <div class="lineInFtS"></div>
        </div>
    </div>
</div>

