<app-landing-page></app-landing-page>
<div class="landingFtS">
    <div class="container">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12" data-aos="fade-down">
            <div class="col-md-6">
                <p class="ftsText">Multiple Destinations? One Solution. Introducing hourly rentals.</p>
                <p class="ftsText">With an accommodating driver at your service, choose multiple destinations, to stop
                    by for as long as you like!</p>
                <div class="row my-5">
                    <div class="col Box text-center">
                        <img [src]="RentalIcon1" alt="">
                        <p class="my-3 icnPara">Hourly Packages</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="RentalIcon2" alt="">
                        <p class="my-3 icnPara">Multiple Stops</p>
                    </div>
                    <div class="col Box text-center">
                        <img [src]="RentalIcon3" alt="">
                        <p class="my-3 icnPara">Premium Cars</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ftsImg text-center ">
                <img [src]="RentalImg1" alt="">
            </div>
        </div>
    </div>
    <img [src]="img" class="ellipse" alt="">
</div>
<app-upper-footer></app-upper-footer>
<app-footer></app-footer>