<div class="slider">
  <div class="container">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row" data-aos="slide-down">
            <div class="col-sm upperfooterheading text-center">
              <h1>
                &nbsp;How does <br />
                Rido work?
              </h1>
            </div>
            <div class="col-sm">
              <img [src]="imagepath5" class="d-block w-100 sliderImg" alt="..." />
            </div>
            <div class="col-sm upperfooterheading2 text-center">
              <h1>Step 1</h1>
              <p>Download Rido App and register within seconds using your mobile no.</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-sm upperfooterheading text-center">
              <h1>
                &nbsp;How does <br />
                Rido work?
              </h1>
            </div>
            <div class="col-sm">
              <img [src]="imagepath5" class="d-block w-100 sliderImg" alt="..." />
            </div>
            <div class="col-sm upperfooterheading2 text-center">
              <h1>Step 2</h1>
              <p>Select your pickup, destination and when you want to travel</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-sm upperfooterheading text-center">
              <h1>
                &nbsp;How does <br />
                Rido work?
              </h1>
            </div>
            <div class="col-sm">
              <img [src]="imagepath5" class="d-block w-100 sliderImg" alt="..." />
            </div>
            <div class="col-sm upperfooterheading2 text-center">
              <h1>Step 3</h1>
              <p>Confirm your ride using the payment method of your choice.</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-sm upperfooterheading text-center">
              <h1>
                &nbsp;How does <br />
                Rido work?
              </h1>
            </div>
            <div class="col-sm">
              <img [src]="imagepath5" class="d-block w-100 sliderImg" alt="..." />
            </div>
            <div class="col-sm upperfooterheading2 text-center">
              <h1>Step 4</h1>
              <p>Driver will arrive at your pickup location before the scheduled time. Enjoy your ride!</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev scrlBtn" type="button" data-bs-target="#carouselExample"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next scrlBtn" type="button" data-bs-target="#carouselExample"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <img [src]="elipse" class="ellipse" alt="">
</div>